@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    display: block;
    margin: auto;
    background: #191919;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a {
  text-decoration: none;
}

header {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

#navbar {
    font-size: 20px;
    display: flex;
    align-items: center;
}

ul {
    transition: 0.5s;
    list-style: none;
    height: 100%;
    justify-content: space-around;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open #mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

#mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 9;
    background: linear-gradient(#191919, #fff);
}

#normal-menu {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
    padding-left: 5px;
    padding-right: 5px;

}

#mobile-menu li {
    margin-bottom: 10px;
}

.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover {
    opacity: 1;
    font-size: 22px;
}

.link a:hover, .link.active a {
    opacity: 1;
}

/* Home Section styling */

.home-section.active, 
.project-section.active,
.cs-project-section.active,
.about-section.active,
.contact-section.active {
    position: relative;
    opacity: 1;
    z-index: 8;
}

.home-section {
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.hero-heading {
    /*color: #fff;
    font-size: 100px;
    text-transform: capitalize;
    font-weight: 300;
    font-family:Soehne, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    text-align: center;*/
    font-size: 100px;
    background: #fff;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 50px;
    margin-top: -70px;
    color: #1a1a1a;
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-stroke: 8px transparent; 
}

/*
.skill-level {
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
    background: #ff4f4f28;
    border-color: #ff4;
    color: #ff4;
*/
.hero-heading2 {
    font-size: 20px;
    background: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #1a1a1a;
    text-align: center;
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-stroke: 1px transparent; 
    margin-bottom: -400px;
    margin-left: -460px;
}


.line-break1 {
    line-height: 2px;
    width: 60%;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: -470px;
    margin-left: -400px;
}

.line-break2 {
    line-height: 2px;
    display: none;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: -600px;
    margin-left: -400px;
}

.social-links {
    cursor: pointer;
    justify-content: center;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    border-spacing: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-bottom: -630px;
    margin-left: -300px;
    
}

.social-links2 {
    cursor: pointer;
    justify-content: center;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    transform: translateX(350px);
    border-spacing: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
}

.facebook {
    height: 75px;
    width: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
    opacity: 0.5;
    border-color: rgb(255, 255, 255);
}

.facebook:hover {
    height: 90px;
    width: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 5px;
}

.instagram {
    height: 75px;
    width: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
}

.instagram:hover {
    height: 90px;
    width: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 5px;
}

.linkedin {
    height: 75px;
    width: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
}

.linkedin:hover {
    height: 90px;
    width: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 5px;
}

.home-image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    height: auto;
    /*height: 100vh;*/
    width: 50%;
    margin-top: 100px;
    opacity: 0.5;
    object-fit: cover;
    border-radius: 50%;
    /*border: 2px solid #ccc;
    border-radius: 10px;*/
}

/* Project section */

.project-section {
    width: 100%;
    min-height: 100%;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    margin-top: 5px;
    transition: 1s;
    opacity: 0;
}

.project-heading {
    font-size: 100px;
    background: #494949;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -70px;
    color: #1a1a1a;
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-stroke: 8px transparent; 
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; 
}

.project-card {
    height: 400px;
    position: relative;
}

.project-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

.project-content {
    position:relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.project-title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info {
    margin: 48px;
    font-size: 16px;
    line-height: 30px;
    text-align: center; 
    font-weight: 10;
}
/*
.project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn {
    height: 40px;
    text-transform: capitalize;
    font-size: 18;
    border: none;
    background:#000000;
    color:#fff;
    cursor: pointer;
}

.project-btn.live {
    background: none;
    border: 2px solid #fff;
}
*/

.project-card:hover .project-image {
    filter: blur(20px);
}

.project-card:hover .project-content {
    opacity: 1;
}

/* CS projects section*/

.cs-project-section {
    width: 100%;
    min-height: 100%;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.cs-project-heading {
    font-size: 100px;
    background: #494949;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -70px;
    color: #1a1a1a;
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-stroke: 8px transparent;
}

.cs-project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; 
}

.cs-project-card {
    height: 400px;
    position: relative;

}

.cs-project-image {
    width: 100%;
    height: 100%;
    position: absolute;
    /*opacity: 0.5;*/
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

.cs-project-content {
    position:relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.cs-project-title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.cs-project-subtitle {
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 200;
}

.cs-project-info {
    margin: 48px;
    font-size: 16px;
    line-height: 30px;
    text-align: center; 
}

.cs-project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.cs-project-btn {
    height: 40px;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    border: none;
    background:#000000;
    color:#fff;
    cursor: pointer;
}

.cs-project-btn:hover {
    filter: brightness(60%);
    height: 45px;
    font-size: 18px;
}

.cs-project-btn:hover .live {
    filter: brightness(60%);
    background: none;
}

.cs-project-btn.live {
    background: none;
    border: 2px solid #fff;
}

.cs-project-card:hover .cs-project-image {
    filter: blur(20px);
}

.cs-project-card:hover .cs-project-content {
    opacity: 1;
}

/* About Section */

.about-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    opacity: 0;
    top: 0;
    transition: 1s;
}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%; /* 2 columns*/
    grid-gap: 40px
}

.about-img-container {
    position: relative;
}

.about-info {
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* For proportionality */
    border-radius: 20px; /*for smooth corners*/
}

/*
.download-cv {
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 5);
}

.download-cv-btn:hover {
    background-color: #000000;
}*/

/*skills section*/

.skills-section {
    position: relative;
    margin: 100px 0;
}

.heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px
}

.skills-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
}

.skill-card {
    position: relative;
}

.skill-img {
    display:block;
    margin: auto;
    height: 200px;
}

.skill-name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px; 
}

.skill-info {
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

/*
.skill-level {
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
    background: #ff4f4f28;
    border-color: #ff4;
    color: #ff4;
}*/

/* Timeline section */

.timeline {
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .heading {
    margin-bottom: 150px;  
}

.card-content {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: 0;
    position: relative;
    background: #f00;
}

@media (min-width: 700px) {

    .card-content:nth-child(even) {
        margin-left: auto;
    }

    .card-content:nth-child(even):before {
        content: '';
        position: absolute;
        left: -15%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .card-content:nth-child(even):after {
        content: '';
        position: absolute;
        left: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: -1;
    }

    .card-content:nth-child(odd):before {
        content: '';
        position: absolute;
        right: -13%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .card-content:nth-child(odd):after {
        content: '';
        position: absolute;
        right: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: -1;
    }

    .card-content:nth-child(2), .card-content:nth-child(2):before {
        background: #ff4f4f;
    }

    .card-content:nth-child(3), .card-content:nth-child(3):before {
        background: #ffb84f;
    }

    .card-content:nth-child(4), .card-content:nth-child(4):before {
        background: #3dca5c;
    }

    .card-content:nth-child(5), .card-content:nth-child(5):before {
        background: #565252;
    }

    .card-content:nth-child(6), .card-content:nth-child(6):before {
        background: #4fa0ff;
    }

    .card-content:nth-child(7), .card-content:nth-child(7):before {
        background: #3448ff;
    }

    .card-content:nth-child(8), .card-content:nth-child(8):before {
        background: #fa912f;
    }

    .card-content:nth-child(even) .card-body:before {
        content: '';
        position: absolute;
        left: -12%;
        top: 0;
        width: 0px;
        height: 230%;
        border: 1px dashed #fff;
        border-color: #fff;
        z-index: -1;
    }
}

.card-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.card-detail {
    font-size: 18px;
}

/* Contact Section */

.contact-section {
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    /*text-transform: capitalize;*/
    color: #fff;
    padding: 5px 30px;
}

::placeholder {
    color: #fff;
}

#msg {
    height: 280px;
    resize: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-submit-btn {
    background: #ff4f4f;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
}

/* Map section */
.map {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.mpa iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {

    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
        z-index: 10;
    }

    #navbar {
        z-index: 0;
    }

    .open #mobile-menu {
        opacity: 5;
        margin-top: -12px;
    }

    .linker a{
        opacity: 0.5;
        text-decoration: none;
        text-transform: capitalize;
        transition: .5s;
        margin-bottom: 5px;
        color: #fff;
        margin: 0 20px;
        padding: 10px 10px;
        line-height: 4px;
        font-size: 16px;
    }
    
    .linker a:hover {
        opacity: 1;
        font-size: 22px;
    }
    
    .linker a:hover, .linker.active a {
        opacity: 1;
    }

    /*
    .menu-line-breaker {
        display:flex;
        line-height: 2px;
        width: 1000px;
        background-color: #1a1a1a;
        color:#1a1a1a;
        margin-bottom: 15px;
        margin-top: 15px;
    }
        /* Headings */
    
    /* Home Section styling */

    .hero-heading {
        font-size: 30px;
        background: #fff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-top: 15px;
        color: #1a1a1a;
        background-clip: text; 
        -webkit-background-clip: text; 
        -webkit-text-stroke: 2px transparent; 
    }

    .hero-heading2 {
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .line-break1 {
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
    
    .line-break2 {
        display:flex;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .social-links {
        border-spacing: 5px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .social-links2 {
        transform: translateX(130px);
    }

    .home-image {
        position: relative;
        top: 0;
        right: 0;
        height: 27%;
        /*height: 100vh;*/
        width: 120%;
        margin-top: 50px;
        margin-bottom: 40px;
        opacity: 0.5;
        object-fit: cover;
        border-radius: 50%;
        border: 7px solid;
        border-color: rgb(255, 255, 255);
    }

    /*
.skill-level {
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
    background: #ff4f4f28;
    border-color: #ff4;
    color: #ff4;
}*/

    .home-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        opacity: 0;
        transition: 1s;
    }

    .project-section {
        width: 100%;
        min-height: 100%;
        padding: 150px 100px 100px;
        transition: 1s;
        opacity: 0;
    }

    .project-heading {
        font-size: 30px;
        -webkit-text-stroke: 2px transparent; 
        margin-top: -120px;
    }

    .cs-project-heading {
        font-size: 30px;
        -webkit-text-stroke: 2px transparent;
        margin-top: -120px; 
    }

    /* Headings concluded*/

    /* Project section */
    
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-card {
        height: 200px;
        position: relative;
    }

    .project-image {
        width: 130%;
        height: 100%;
        margin-left: -40px;
    }

    .project-title {
        font-size: 25px;
        margin-top: -20px;
    }

    .project-info {
        margin-left: -17px;
        margin-top: 5px;
        font-size: 12px;
        line-height: 20px;
        width: 200px;
    }

    .cs-project-container {
        display: flex;
        flex-direction: column;
    }

    .cs-project-card {
        height: 200px;
        position: relative;
    }

    .cs-project-image {
        width: 130%;
        height: 100%;
        margin-left: -40px;
    }

    .cs-project-title {
        font-size: 25px;
        margin-top: -30px;
    }

    .cs-project-subtitle {
        font-size: 20px;
    }

    .cs-project-info {
        margin: 8px;
        font-size: 12px;
        line-height: 20px;
        width: 200px;
        margin-left: -17px;
        justify-content: center;
    }

    .cs-project-btn-grp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
    .cs-project-btn {
        height: 30px;
        text-transform: capitalize;
        font-size: 12px;
        text-decoration: none;
        border: none;
        background:#000000;
        color:#fff;
        cursor: pointer;
    }

    /* Project section Concluded */
    
    /* About Section */

    .about-section {
        width: 100%;
        min-height: 100vh;
        padding: 150px 100px 0;
        position: fixed;
        opacity: 0;
        top: 0;
        transition: 1s;
    }

    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .about-img-container {
        position: relative;
    }

    .about-info {
        color: #fff;
        opacity: 0.6;
        font-size: 12px;
        line-height: 20px;
        text-align: justify;
        margin-left: -30px;
        margin-right: -40px;
    }

    .about-img {
        width: 120%;
        height: 100%;
        margin-left: -20px;
        object-fit: cover; /* For proportionality */
        border-radius: 20px; /*for smooth corners*/
        margin-top: -110px;
    }

    /* About Section Concluded */

    /* Skills Section */

    .skills-section {
        position: relative;
        margin: 100px 0;
    }
    
    .heading {
        text-align: center;
        font-size: 30px;
        color: #fff;
        text-transform: capitalize;
        font-weight: 300;
        margin-bottom: 50px
    }
    
    .skills-container {
        width: 95%;
        margin: auto;
        margin-left: -50px;
        margin-right: -50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        color: #fff;
    }
    
    .skill-card {
        position: relative;
    }
    
    .skill-img {
        display:block;
        margin: auto;
        height: 70px;
    }
    
    .skill-name {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize;
        margin: 30px 0 20px; 
    }
    
    .skill-info {
        text-align: center;
        opacity: 0.5;
        font-size: 18px;
        line-height: 30px;
    }

    /* Skill section concluded */

    /* Education and Experience Section */

    .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 100px auto;
    }
    
    .timeline .heading {
        margin-bottom: 150px;  
    }
    
    .card-content {
        width: 90%;
        height: 40%;
        padding: 30px;
        border-radius: 10px;
        color: #fff;
        display: block;
        margin: 20px;
        position: relative;
    }

    .card-content:nth-child(2), .card-content:nth-child(2):after, .card-content:nth-child(2):before {
        background: #ff4f4f;
    }

    .card-content:nth-child(3), .card-content:nth-child(3):after, .card-content:nth-child(3):before {
        background: #ffb84f;
    }

    .card-content:nth-child(4), .card-content:nth-child(4):after, .card-content:nth-child(4):before {
        background: #3dca5c;
    }

    .card-content:nth-child(5), .card-content:nth-child(5):after, .card-content:nth-child(5):before {
        background: #565252;
    }

    .card-content:nth-child(6), .card-content:nth-child(6):after, .card-content:nth-child(6):before {
        background: #4fa0ff;
    }

    .card-content:nth-child(7), .card-content:nth-child(7):after, .card-content:nth-child(7):before {
        background: #3448ff;
    }

    .card-content:nth-child(8), .card-content:nth-child(8):after, .card-content:nth-child(8):before {
        background: #fa912f;
    }

    .card-content:nth-child(odd):after {
        content: '';
        position: absolute;
        left: -17.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .card-content:nth-child(even):before {
        content: '';
        position: absolute;
        left: -17.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .card-content:nth-child(even):after {
        content: '';
        position: absolute;
        left: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: -1;
    }

    .card-content:nth-child(odd):before {
        content: '';
        position: absolute;
        left: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: -1;
    }

    .card-content:nth-child(even) .card-body:before {
        content: '';
        position: absolute;
        left: -12%;
        top: 0;
        width: 0px;
        height: 280%;
        border: 1px dashed #fff;
        border-color: #fff;
        z-index: -1;
    }
    
    .card-title {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .card-detail {
        font-size: 14px;
    }

    /* Education and Experience Section Concluded */
    /* Contact Section */

    .contact-section {
        top: 0;
        opacity: 0;
        transition: 1s;
        padding: 0px 0px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /*grid-gap: 50px;*/
    }

    .contact-form input, .contact-form textarea {
        width: 80%;
        height: 40px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #fff;
        margin-bottom: 30px;
        border-radius: 5px;
        margin-left: 45px;
        /*text-transform: capitalize;*/
        color: #fff;
        padding: 0px 0px;
        position: relative;
    }

    ::placeholder {
        color: #fff;
    }

    #msg {
        height: 280px;
        resize: none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .form-submit-btn {
        background: #ff4f4f;
        color: #fff;
        text-transform: capitalize;
        padding: 15px 40px;
        display: block;
        margin: auto;
        border: none;
        border-radius: 10px;
        cursor: pointer; 
    }

    /* Map section */
    .map { 
        width: 80%;
        height: 100%;
        border: 2px solid #ccc;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        margin-bottom: 30px;
        margin-left: 45px;
    }

    .map iframe {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    
}
